body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #f4f6f7; /*NEW*/
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.cart-area {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 220px;
    text-align: center;
    background-color:white; /*NEW*/
    border-radius:8px; /*NEW*/
    box-shadow:2px 2px 8px rgba(0,0,0,0,2); /*NEW*/
}

.price {
    color: green;
    font-weight: bold;
}

.add-btn {
    background-color: #2c3e50;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /*NEW*/
    transition: 0.3s; /*NEW*/
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a:hover{
    color:yellow;
}
add-btn:hover{
    background-color: #1a252f;
}
